.numeros-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2/4;
    grid-gap: 30px;
}
@media(max-width:700px){
    .numeros-grid{
      
        grid-column: 1;
    }
}
.numeros-grid h3{
    font-size: 2rem;
    font-family:' Playfair Display Sc';
    margin-top: .5rem;
}

.numeros-grid span {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 1.5rem;
    color: #e54;
}

