


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    max-width: 960px;
    margin: 300px auto;

}

button{
    padding:15px 40px ;
    margin: 5px;
    border: none;
    border-radius: 5px;
    position: relative;
}

@keyframes show {
    from{
        opacity: 0;
        transform: translate3d(-30px, 0,0);
    }
    from{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    
}

[data-cor="red"]{
    color: whitesmoke;
    background: tomato;
}


.red{
    color: whitesmoke;
    background: tomato;
}

[data-cor="blue"]{
    color: whitesmoke;
    background: rgb(6, 46, 86);

}
.blue{
    color: whitesmoke;
    background: rgb(6, 46, 86);
}

[data-cor="black"]{
color:whitesmoke;
background:rgb(33, 32, 32);
}

.black{
    color:whitesmoke;
    background:rgb(33, 32, 32);}