@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
.navbar {
display: flex;
justify-content: center;
margin: 0 auto;
}
.erro {
  padding: .6rem 1rem ;
  font-size: 1em;
}
