<nav class="navbar navbar-dark bg-dark navbar">
 <div class="container-fluid d-flex justify-content-center">
   <a class="navbar-brand" href="#">
     Agenda de Contactos NobleStack
   </a>
 </div>
</nav>